In [1]:
# import dependencies
from api_keys import alpha_vantage_api_key
from datetime import datetime, timedelta
import pprint as pp
import pandas as pd
import requests

In [2]:
# declare date to end analysis at
day_end = '2023/05/9'

Get API data and put it in json

In [30]:
# declare codes of tickers used for the manufacturers
codes = ["AAPL", "MSI", "GOOG", "GOOGL"]
manufacturers = ["apple", "motorola", "google_class_c", "google_class_a"]

# declare dates and closing_vals
dates = []
closing_vals = []

# create dataframe dictionary
dfs = {}

# initialize counter
counter = 0

# main for loop that loops through the ticker codes
for code in codes:
    # get jsons
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={code}&outputsize=full&apikey={alpha_vantage_api_key}'
    response = requests.get(url)
    data_json = response.json()
    current_day = datetime.strptime(day_end,'%Y/%m/%d')
    
    for i in range(365):
        try:
            current_day_str = current_day.strftime('%Y-%m-%d')
        
            closing_vals.append(data_json["Time Series (Daily)"]
                                    [current_day.strftime('%Y-%m-%d')]["5. adjusted close"])
            dates.append(current_day_str)
        except:
            pass
        current_day = current_day - timedelta(days=1)
    
    data_dict = {
    "Date" : dates,
    "Adjusted Close" : closing_vals
    }
    
    dfs[f"{manufacturers[counter]}_df"] = pd.DataFrame(data_dict)
    
    dates.clear()
    closing_vals.clear()
    data_dict.clear()
    counter = counter + 1

In [31]:
apple_df = dfs["apple_df"]
apple_df

Empty DataFrame
Columns: [Date, Adjusted Close]
Index: []

In [32]:
motorola_df = dfs["motorola_df"]
motorola_df

Empty DataFrame
Columns: [Date, Adjusted Close]
Index: []

In [14]:
google_class_c_df = dfs["google_class_c_df"]
google_class_c_df

           Date Adjusted Close
0    2023-05-09         171.77
1    2023-05-08          173.5
2    2023-05-05         173.57
3    2023-05-04         165.79
4    2023-05-03         167.45
..          ...            ...
748  2022-05-16       114.7925
749  2022-05-13       116.5155
750  2022-05-12        113.161
751  2022-05-11        113.961
752  2022-05-10       114.5845

[753 rows x 2 columns]

In [7]:
google_class_a_df = dfs["google_class_a_df"]