In [1]:
# import dependencies
from api_keys import alpha_vantage_api_key
from datetime import datetime, timedelta
import pprint as pp
import pandas as pd
import requests

In [2]:
# declare date to end analysis at
day_end = '2023/05/9'

Get API data and put it in json

In [3]:
# declare codes of tickers used for the manufacturers
codes = ["AAPL", "MSI", "GOOG", "GOOGL"]
manufacturers = ["apple", "motorola", "google_class_c", "google_class_a"]

# declare dates and closing_vals
dates = []
closing_vals = []

# create dataframe dictionary
dfs = {}

# initialize counter
counter = 0

# main for loop that loops through the ticker codes
for code in codes:
    # get jsons
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={code}&outputsize=full&apikey={alpha_vantage_api_key}'
    response = requests.get(url)
    data_json = response.json()
    current_day = datetime.strptime(day_end,'%Y/%m/%d')
    
    for i in range(365):
        try:
            current_day_str = current_day.strftime('%Y-%m-%d')
        
            closing_vals.append(data_json["Time Series (Daily)"]
                                    [current_day.strftime('%Y-%m-%d')]["5. adjusted close"])
            dates.append(current_day_str)
        except:
            pass
        current_day = current_day - timedelta(days=1)
    
    data_dict = {
    "Date" : dates,
    "Adjusted Close" : closing_vals
    }
    
    dfs[f"{manufacturers[counter]}_df"] = pd.DataFrame(data_dict)
    
    dates.clear()
    closing_vals.clear()
    data_dict = data_dict.clear()
    counter = counter + 1

In [4]:
apple_df = dfs["apple_df"]
apple_df

           Date    Adjusted Close
0    2023-05-09            171.77
1    2023-05-08             173.5
2    2023-05-05            173.57
3    2023-05-04            165.79
4    2023-05-03            167.45
..          ...               ...
246  2022-05-16  144.876015517409
247  2022-05-13  146.438852842971
248  2022-05-12  141.909610912201
249  2022-05-11  145.831635792912
250  2022-05-10   153.80509246664

[251 rows x 2 columns]

In [5]:
motorola_df = dfs["motorola_df"]
motorola_df

           Date    Adjusted Close
0    2023-05-09            286.57
1    2023-05-08             284.9
2    2023-05-05            281.56
3    2023-05-04            290.41
4    2023-05-03            288.62
..          ...               ...
246  2022-05-16  206.641614285247
247  2022-05-13  212.352616417522
248  2022-05-12  198.790219298562
249  2022-05-11  199.194625321745
250  2022-05-10  200.082345860441

[251 rows x 2 columns]

In [6]:
google_class_c_df = dfs["google_class_c_df"]
google_class_c_df

           Date Adjusted Close
0    2023-05-09         107.94
1    2023-05-08         108.24
2    2023-05-05        106.215
3    2023-05-04         105.21
4    2023-05-03         106.12
..          ...            ...
246  2022-05-16       114.7925
247  2022-05-13       116.5155
248  2022-05-12        113.161
249  2022-05-11        113.961
250  2022-05-10       114.5845

[251 rows x 2 columns]

In [7]:
google_class_a_df = dfs["google_class_a_df"]
google_class_a_df

           Date Adjusted Close
0    2023-05-09         107.35
1    2023-05-08         107.77
2    2023-05-05         105.57
3    2023-05-04         104.69
4    2023-05-03         105.41
..          ...            ...
246  2022-05-16        114.445
247  2022-05-13       116.0505
248  2022-05-12        112.844
249  2022-05-11       113.6025
250  2022-05-10        114.395

[251 rows x 2 columns]